<% include ./partials/header %>
<!-- Custom styles for this template -->
<script src="https://kit.fontawesome.com/d8ee6b40b3.js" crossorigin="anonymous"></script>
<link href="/stylesheets/cover.css" rel="stylesheet">
<link href="/stylesheets/formfloat.css" rel="stylesheet">
</head>

<body style="display: none">
    <div class="cover-container d-flex w-100 h-80 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
        </header>

        <main role="main" class="inner cover">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <a class="bg-primary text-white btn-lg btn-block login text-center" href="">Login</a>
                        </div>
                        <div class="col">
                            <a class="btn btn-outline-primary btn-lg btn-block register text-center" href="">Register
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body" id="login-form">
                    <div class="alert alert-danger" id="failedResponseLog" role="alert" style="display: none">
                    </div>
                    <form action="" id="submit-login">
                        <div class="form-label-group">
                            <input type="email" id="inputEmailLog" class="form-control" placeholder="Email address"
                                required autofocus>
                            <label for="inputEmailLog">Email address</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPasswordLog" class="form-control" placeholder="Password"
                                required>
                            <label for="inputPasswordLog">Password</label>
                        </div>

                        <button type="submit" class="btn btn-info btn-login btn-block">Log In</button>
                    </form>
                </div>
                <div class="card-body" id="register-form" style="display: none">
                    <div class="alert alert-danger" id="failedResponseReg" role="alert" style="display: none">
                    </div>
                    <form action="" id="submit-register">
                        <div class="form-label-group">
                            <input type="email" id="inputEmailReg" class="form-control" placeholder="Email address"
                                required autofocus>
                            <label for="inputEmailReg">Email address</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPasswordReg" class="form-control" placeholder="Password"
                                required>
                            <label for="inputPasswordReg">Password</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPasswordConfirmationReg" class="form-control"
                                placeholder="Confirmation Password" required>
                            <label for="inputPasswordConfirmationReg">Confirm Password</label>
                        </div>
                        <button type="submit" class="btn btn-info btn-register btn-block">Register Now</button>
                    </form>
                </div>
            </div>
        </main>

        <footer class="mastfoot mt-auto">
        </footer>
    </div>



    <% include ./partials/script %>
    <script>
        const url = 'http://localhost:3000/api/users';
        const registerAPI = () => {
            $.ajax({
                url: url + '/register',
                method: 'POST',
                data: {
                    email: $('#inputEmailReg').val(),
                    password: $('#inputPasswordReg').val(),
                    retypePassword: $('#inputPasswordConfirmationReg').val()
                },
                dataType: 'json'
            }).done((response) => {
                if (response.status) {
                    localStorage.setItem('email', $('#inputEmailReg').val());
                    localStorage.setItem('token', response.token);
                    window.location = '/home';
                } else {
                    $('#failedResponseReg').text("").hide();
                    $('#failedResponseReg').text(response.message).show();
                    $('#inputPasswordReg').val("");
                    $('#inputPasswordConfirmationReg').val("");
                }
            }).fail(response => {
                $('#failedResponseReg').text("").hide();
                $('#failedResponseReg').text(response.message).show();
                $('#inputPasswordReg').val("");
                $('#inputPasswordConfirmationReg').val("");
            })
        }

        const loginAPI = () => {
            $.ajax({
                url: url + '/login',
                method: 'POST',
                data: {
                    email: $('#inputEmailLog').val(),
                    password: $('#inputPasswordLog').val()
                },
                dataType: 'json'
            }).done((response) => {
                if (response.status) {
                    localStorage.setItem('email', $('#inputEmailLog').val());
                    localStorage.setItem('token', response.token);
                    window.location = '/home';
                } else {
                    $('#failedResponseLog').text(response.message).show();
                    $('#inputPasswordLog').val("");
                }
            }).fail(response => {
                $('#failedResponseLog').text(response.message).show();
                $('#inputPasswordLog').val("");
            })
        }

        const auth = () => {
            $.ajax({
                url: url + '/check',
                method: 'post',
                beforeSend: (req) => {
                    req.setRequestHeader('Authorization', localStorage.getItem('token'));
                }
            }).done((response) => {
                if (response.valid)
                    window.location = '/home';
                else
                    $('body').show();
            });
        }

        $(() => {
            auth();
            $('.login').on('click', e => {
                e.preventDefault();
                $('.login').removeClass("btn btn-outline-primary").addClass("bg-primary text-white");
                $('.register').removeClass("bg-primary text-white").addClass("btn btn-outline-primary");
                $('#login-form').css("display", "");
                $('#register-form').css("display", "none");
            })
            $('.register').on('click', e => {
                e.preventDefault();
                $('.register').removeClass("btn btn-outline-primary").addClass("bg-primary text-white");
                $('.login').removeClass("bg-primary text-white").addClass("btn btn-outline-primary");
                $('#register-form').css("display", "");
                $('#login-form').css("display", "none");
            })

            $('#submit-register').submit((e) => {
                e.preventDefault();
                registerAPI();
            })

            $('#submit-login').submit((e) => {
                e.preventDefault();
                loginAPI();
            })
        })

    </script>

</body>

</html>